ai-workloads:
  apps:
    - name: mlserver-model
      kind: mlserver
      infraProfile: cpu-small
      replicas: 1
      image:
        repository: ghcr.io/acme/mlserver-basic-model
        tag: v1.0.0
        pullPolicy: IfNotPresent
      settings: |-
        {
          "models": [
            {
              "name": "my-model",
              "implementation": "mlserver_sklearn.SKLearnModel",
              "parameters": {
                "uri": "/models/my-model"
              }
            }
          ],
          "logging": {
            "level": "INFO"
          }
        }

      env: []
      envFrom: []
      volumeMounts:
        - name: model-storage
          mountPath: /models
      volumes:
        - name: model-storage
          emptyDir: {}
      hpa:
        enabled: true
        minReplicas: 1
        maxReplicas: 5
        metrics:
          - type: Resource
            resource:
              name: cpu
              target:
                type: Utilization
                averageUtilization: 60

  batchTasks: []
