ai-workloads:
  apps:
    - name: mlserver-basic
      kind: mlserver
      infraProfile: cpu-small

      image:
        repository: ghcr.io/acme/mlserver-basic-model
        tag: v1.0.0

      settings: |
        {
          "models": [
            {
              "name": "credit-default",
              "implementation": "mlserver_sklearn.SKLearnModel",
              "parameters": {
                "uri": "/models/credit-default"
              }
            }
          ],
          "logLevel": "INFO"
        }

      volumeMounts:
        - name: model-storage
          mountPath: /models
      volumes:
        - name: model-storage
          emptyDir: {}

      hpa:
        enabled: true
        minReplicas: 1
        maxReplicas: 5
        metrics:
          - type: Resource
            resource:
              name: cpu
              target:
                type: Utilization
                averageUtilization: 60

  batchTasks: []
